@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient-start: #020024;
  --gradient-mid: #090979;
  --gradient-end: #00d4ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0d23;
    --foreground: #ededed;
    /* You can adjust these for dark mode if needed */
    --gradient-start: #020024;
    --gradient-mid: #22227a;
    --gradient-end: #02819b;
  }
}

body {
  background: linear-gradient(
      90deg,
      var(--gradient-start) 0%,
      var(--gradient-mid) 35%,
      var(--gradient-end) 100%
    ),
    var(--background);
  color: var(--foreground);
  min-height: 100vh;
}
